<a href="https://colab.research.google.com/github/coder-j-0090/Self_Study/blob/main/Python_DataAnalysis_ML/3_2_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

판다스는 넘파이를 상속받아서 만들었다.

넘파이로도 판다스의 많은걸 할 수 있지만 좀더 편하게 쓰고 더 좋은 기능을 업데이트 해서 좋게 쓸 수 있게 해주는것을 판다스라고 부른다.

Panal Data : 표형태로 되어있는 데이터

In [ ]:
#판다스는 넘파이를 상속받아서 쓰는거라 임포트할때 넘파이도 판다스랑 같이 import 해줘야 한다.
import pandas as pd
import numpy as np

In [ ]:
data = np.arange(0,50,10)
data

array([ 0, 10, 20, 30, 40])

In [ ]:
#판다스의 시리즈는 벡터다. 판다스가 넘파이로 할 수 있는것을 더 편하게 하게끔 만들었다. 얘는 인덱스르 줄 수 있따.
#인덱스가 넘파이에도 있었다. 판다스의 시리즈는 인덱스를 줄 수 있다. 딕셔너리 처럼 쓸 수 있다. 제작자가 이해하기 편하다

#pd.Series 안에는 리스트가 들어가고 그다음에 콤마를 이용해서 뒤에 인덱스를 저장해준다. 그냥 리스트여도 되는데 속도문제때문에 넘파이를 사용해서 리스트를 만든다.
a = pd.Series(data, index=['a','b','c','d','e'])
a

a     0
b    10
c    20
d    30
e    40
dtype: int64

In [ ]:
b = pd.Series(data)
b

0     0
1    10
2    20
3    30
4    40
dtype: int64

In [ ]:
a['b']

10

In [ ]:
a.loc['b']

10

In [ ]:
a.iloc[1]

10

# 산술연산

In [ ]:
a

a     0
b    10
c    20
d    30
e    40
dtype: int64

In [ ]:
#계산되는가 확인

a+10
a-10
a*10
a**2
a/5
a//5
a%3

a    0
b    1
c    2
d    0
e    1
dtype: int64

In [ ]:
a

a     0
b    10
c    20
d    30
e    40
dtype: int64

# Boolean Indexing

In [ ]:
a>15

a    False
b    False
c     True
d     True
e     True
dtype: bool

In [ ]:
a[a>15]     #리스트의 많은 값들 중에 조건이 맞는것들만 출력해준다.

c    20
d    30
e    40
dtype: int64

# 집계함수

In [ ]:
a.add(100)

a    100
b    110
c    120
d    130
e    140
dtype: int64

In [ ]:
a.sub(100)

a   -100
b    -90
c    -80
d    -70
e    -60
dtype: int64

In [ ]:
a.mul(100)

a       0
b    1000
c    2000
d    3000
e    4000
dtype: int64

In [ ]:
a.div(100)

a    0.0
b    0.1
c    0.2
d    0.3
e    0.4
dtype: float64

In [ ]:
a.mod(100)

a     0
b    10
c    20
d    30
e    40
dtype: int64

In [ ]:
a.min()

0

In [ ]:
a.max()

40

In [ ]:
a.sum()

100

In [ ]:
a.mean()

20.0

In [ ]:
a.median()

20.0

In [ ]:
a.std()

15.811388300841896

In [ ]:
a.var()

250.0

# 데이터프레임

In [ ]:
#size = (x길이, y길이)
rawData = np.random.randint(50,100,size = (4,3))
rawData

array([[66, 52, 64],
       [73, 95, 70],
       [57, 57, 51],
       [75, 75, 52]])

In [ ]:
#미리 만들어 져 있는 거에다가 인덱스를 줄거다
#표로 만들기
df = pd.DataFrame(rawData,
                  index = ['1반','2반','1반','2반'],
                  columns=['국','영','수'])
df

     국   영   수
1반  61  79  96
2반  76  65  55
1반  58  70  69
2반  71  87  78

In [ ]:
df['국']

1반    61
2반    76
1반    58
2반    71
Name: 국, dtype: int64

In [ ]:
df[0]   #인덱스가 이미 지정되 있는데 0으로 지정되지 않아서 에러가 생긴다.

KeyError: ignored

In [ ]:
#딕셔너리에서 없는 키값을 입력하면 만들어진다.
#round는 반올림 함수

df['평균'] = round( (df['국'] + df['수'] + df['영'])/3, 2)
df

     국   영   수     평균
1반  61  79  96  78.67
2반  76  65  55  65.33
1반  58  70  69  65.67
2반  71  87  78  78.67

In [ ]:
df['na'] = np.nan    #결측치 추가해보기. 결측치도 숫자로 인정
df

     국   영   수     평균  na
1반  61  79  96  78.67 NaN
2반  76  65  55  65.33 NaN
1반  58  70  69  65.67 NaN
2반  71  87  78  78.67 NaN

In [ ]:
del df['na'] #삭제
df

     국   영   수     평균
1반  61  79  96  78.67
2반  76  65  55  65.33
1반  58  70  69  65.67
2반  71  87  78  78.67

In [ ]:
#boolean indexing
df[ df.평균 > 75]

     국   영   수     평균
1반  61  79  96  78.67
2반  71  87  78  78.67

In [ ]:
#필요없는 애들은 지우고 쓸 수 있다.
df = df.drop(['평균'], axis = 'columns')
df

     국   영   수
1반  61  79  96
2반  76  65  55
1반  58  70  69
2반  71  87  78

# 결측값 처리

결측치 = 결측값

In [ ]:
#결측치 하기 위해서 타입을 float 라고 넣었다

df = df.astype('float64')
df

       국     영     수
1반  61.0  79.0  96.0
2반  76.0  65.0  55.0
1반  58.0  70.0  69.0
2반  71.0  87.0  78.0

In [ ]:
df['수'][2] = np.nan
df

       국     영     수
1반  61.0  79.0  96.0
2반  76.0  65.0  55.0
1반  58.0  70.0   NaN
2반  71.0  87.0  78.0

In [ ]:
df.dropna(axis = 0)     #결측치 있는 줄(가로)을 지워라

       국     영     수
1반  61.0  79.0  96.0
2반  76.0  65.0  55.0
2반  71.0  87.0  78.0

In [ ]:
df

       국     영     수
1반  61.0  79.0  96.0
2반  76.0  65.0  55.0
1반  58.0  70.0   NaN
2반  71.0  87.0  78.0

In [ ]:
df.dropna(axis=1)   #결측치 있는 줄(세로)을 지워라

       국     영
1반  61.0  79.0
2반  76.0  65.0
1반  58.0  70.0
2반  71.0  87.0

In [ ]:
df.fillna('hello')

       국     영      수
1반  61.0  79.0   96.0
2반  76.0  65.0   55.0
1반  58.0  70.0  hello
2반  71.0  87.0   78.0

In [ ]:
df.fillna(0)

       국     영     수
1반  61.0  79.0  96.0
2반  76.0  65.0  55.0
1반  58.0  70.0   0.0
2반  71.0  87.0  78.0

In [ ]:
#평균으로 값을 채워놔야지 평균값이나 그 외 값에 미치는 영향이 적다
#fillna(n) = fill not a number with n
df.fillna(df.mean())

       국     영          수
1반  61.0  79.0  96.000000
2반  76.0  65.0  55.000000
1반  58.0  70.0  76.333333
2반  71.0  87.0  78.000000

# 멀티 인덱스

In [ ]:
df

       국     영     수
1반  61.0  79.0  96.0
2반  76.0  65.0  55.0
1반  58.0  70.0   NaN
2반  71.0  87.0  78.0

In [ ]:
df.T #df Transmission (가로세로바꾸기)

     1반    2반    1반    2반
국  61.0  76.0  58.0  71.0
영  79.0  65.0  70.0  87.0
수  96.0  55.0   NaN  78.0

In [ ]:
df      #df를 아예 바꾼건 아니기에

       국     영     수
1반  61.0  79.0  96.0
2반  76.0  65.0  55.0
1반  58.0  70.0   NaN
2반  71.0  87.0  78.0

In [ ]:
#인덱스를 두줄로 표에 나타내기

df.index = [ ['1학년', '1학년', '2학년', '2학년'], ['1반', '2반', '1반', '2반']]
df

           국     영     수
1학년 1반  61.0  79.0  96.0
    2반  76.0  65.0  55.0
2학년 1반  58.0  70.0   NaN
    2반  71.0  87.0  78.0

In [ ]:
df.columns = [ ['언어', '언어', '수리'], ['국','영','수'] ]
df

          언어          수리
           국     영     수
1학년 1반  61.0  79.0  96.0
    2반  76.0  65.0  55.0
2학년 1반  58.0  70.0   NaN
    2반  71.0  87.0  78.0

In [ ]:
df['언어']

           국     영
1학년 1반  61.0  79.0
    2반  76.0  65.0
2학년 1반  58.0  70.0
    2반  71.0  87.0

In [ ]:
#column 에서만 [][] 사용 가능
df['언어']['국']

1학년  1반    61.0
     2반    76.0
2학년  1반    58.0
     2반    71.0
Name: 국, dtype: float64

In [ ]:
df.loc['1학년']

      언어          수리
       국     영     수
1반  61.0  79.0  96.0
2반  76.0  65.0  55.0

In [ ]:
#index 에서만 loc.loc 사용 가능
df.loc['1학년'].loc['1반']

언어  국    61.0
    영    79.0
수리  수    96.0
Name: 1반, dtype: float64

# 데이터 사전 분석

데이터 전처리 : 뭔가를 가공하기 전에 데이터 프레임에 대한 정보를 알기위한 내용

In [ ]:
df

          언어          수리
           국     영     수
1학년 1반  61.0  79.0  96.0
    2반  76.0  65.0  55.0
2학년 1반  58.0  70.0   NaN
    2반  71.0  87.0  78.0

In [ ]:
#관련정보를 다 보여준다. 실제 데이터는 몇만개가 될수도 있는데 info를 이용하면 좀 더 간단히 할 수 있다.
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 4 entries, ('1학년', '1반') to ('2학년', '2반')
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   (언어, 국)  4 non-null      float64
 1   (언어, 영)  4 non-null      float64
 2   (수리, 수)  3 non-null      float64
dtypes: float64(3)
memory usage: 384.0+ bytes

In [ ]:
#실제로 맨 위에 있는 데이터 5개 써준다.
df.head()

          언어          수리
           국     영     수
1학년 1반  61.0  79.0  96.0
    2반  76.0  65.0  55.0
2학년 1반  58.0  70.0   NaN
    2반  71.0  87.0  78.0

In [ ]:
#실제로 맨 밑에 있는 데이터 5개 써준다
df.tail()

          언어          수리
           국     영     수
1학년 1반  61.0  79.0  96.0
    2반  76.0  65.0  55.0
2학년 1반  58.0  70.0   NaN
    2반  71.0  87.0  78.0

In [ ]:
#인덱스 별로 무슨무슨 타입인지 다 알려준다
df.dtypes

언어  국    float64
    영    float64
수리  수    float64
dtype: object

In [ ]:
#온갖 자료가 다나온다.
df.describe()

             언어                    수리
              국          영          수
count   4.00000   4.000000   3.000000
mean   66.50000  75.250000  76.333333
std     8.42615   9.742518  20.550750
min    58.00000  65.000000  55.000000
25%    60.25000  68.750000  66.500000
50%    66.00000  74.500000  78.000000
75%    72.25000  81.000000  87.000000
max    76.00000  87.000000  96.000000

In [ ]:
#빈칸이 있는가 없는가 찾기.있으면 true 아니면 false
df.isnull()

           언어            수리
            국      영      수
1학년 1반  False  False  False
    2반  False  False  False
2학년 1반  False  False   True
    2반  False  False  False

In [ ]:
#true = 1, false = 0 인데 sum 을 계산하면 결측치의 갯수를 알 수 있다.
df.isnull().sum()

언어  국    0
    영    0
수리  수    1
dtype: int64

# 값의 연결

In [ ]:
a = pd.DataFrame(np.arange(1,10).reshape(3,3))
a

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [ ]:
b = pd.Series(np.arange(10,40,10))
b

0    10
1    20
2    30
dtype: int64

a&b 를 연결시켜주자

In [ ]:
#concatenate : 연결
pd.concat([a,b],axis=1)

   0  1  2   0
0  1  2  3  10
1  4  5  6  20
2  7  8  9  30

In [ ]:
#원래 인덱스가 있는데 원래 0이었다. 근데 보기 싫으니까 원래있던 인덱스 무시하고 차례로 다시붙여라.
pd.concat([a,b], axis = 1, ignore_index = True)

   0  1  2   3
0  1  2  3  10
1  4  5  6  20
2  7  8  9  30

In [ ]:
a.append(b, ignore_index = True)

<ipython-input-63-9f54948a38f8>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  a.append(b, ignore_index = True)

    0   1   2
0   1   2   3
1   4   5   6
2   7   8   9
3  10  20  30